/* mobile.css */ 

body {
    background: #0d0d0d;
    color: #00ff41;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 20px;
    overflow-x: hidden;
}

#status-bar {
    font-size: 0.7em;
    border-bottom: 1px solid #00ff41;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.screen { text-align: center; }

input {
    width: 90%;
    padding: 15px;
    background: #000;
    border: 1px solid #00ff41;
    color: #00ff41;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 15px;
    background: #00ff41;
    color: #000;
    border: none;
    font-weight: bold;
    margin: 10px 0;
    text-transform: uppercase;
}

#role-card {
    border: 2px solid #00ff41;
    padding: 15px;
    margin-bottom: 25px;
    background: rgba(0, 255, 65, 0.1);
}

.btn-oui { background: #2ecc71; color: white; }
.btn-non { background: #e74c3c; color: white; }

#doc-btn {
    background: #f1c40f;
    margin-top: 30px;
}

.result-box {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid white;
}
.INFECTÉ { background: #e74c3c; color: white; }
.SAIN { background: #2ecc71; color: white; }

.loader {
    border: 3px solid #111;
    border-top: 3px solid #00ff41;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
